{% include head.html %}

   <body>

   {% comment %}
      NOTE: If the content tag in the following <textarea> is preceded by
      any whitespace to the left, then the remark slideshow will not work!
   {% endcomment %}

   <textarea id="source">
{{ content|strip_html }}
   </textarea>

     <!-- Remark scripts -->
     <script src="./../../public/js/remark-latest.min.js"></script>
     <script>
         var hljs = remark.highlighter.engine;
         var slideshow = remark.create({
            highlightStyle: 'sunburst',
            highlightLanguage: 'xml',
            navigation: {
               scroll: false
               // , click: true
            }
         });
      </script>

      <!-- For embedding Tweets in slides -->
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
   </body>
</html>
