/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
   padding-top: 1rem;
   padding-bottom: 1rem;
   margin-bottom: 3rem;
   border-bottom: 1px solid #eee;
}

.masthead-title {
   margin-top: 0;
   margin-bottom: 0;
   color: #505050;
   overflow: auto;

   img {
      float: left;
      width: 200px;
   }

   a {
      color: #505050;
      float: right;
   }

   small {
      font-size: 75%;
      font-weight: 400;
      color: #c0c0c0;
      letter-spacing: 0;
   }
}

@media (max-width: 48em) {
   .masthead-title {
      text-align: center;
   }

   .masthead-title small {
      display: none;
   }
}
