/*
 * Course Calendar
 *
 * Styles for fullcalendar.js.
 */

#calendar {
  h2 {
    color: #969696;
    @include font-size(1.25);
    padding-top: 10px;
  }

  .fc-button {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: none;

    &:hover {
      background-color: #f5f5f5;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
  }

  .fc-state-hover {
    background-position: 0 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  table {
    margin-bottom: 0;
  }

  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: #fafafa;
  }

  .fc-month-view {
    > table:before,
    > table:after {
      background: repeating-linear-gradient(
        45deg,
        #868686,
        #868686 2px,
        #464646 2px,
        #464646 4px
      );
      bottom: 0;
      content: ' ';
      left: 0;
      opacity: 0.1;
      position: absolute;
      top: 0;
      width: 1/7 * 100%;
      z-index: 10000;
    }

    > table:before {
      left: 0;
    }

    > table:after {
      left: 1/7 * 100 * 5%;
    }
  }

  .fc-content-skeleton {
    height: 100%;

    table {
      height: 100%;
    }
  }

  .fc-popover,
  .fc-row,
  hr,
  tbody,
  td,
  th,
  thead {
    border-color: #e2e2e2;
  }

  .fc-event {
    @include font-size(0.67);
    font-weight: 100;
  }
}
